body{
    color:#fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.logo{
    font-weight: 800;
}
a{
    color:#fff;
    text-decoration: none;
}
p {
    letter-spacing: 0.25em;
    text-transform: uppercase;
}
.top_content {
align-items: center;
background-image: url(images/banner.jpg);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.line{
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}

.inner{
    /* margin: 0 auto;
    max-width: 65em; */
    background-color: rgba(0, 0, 0,0.4);
    
    padding:0px 2em 6em 2em;

}
.inner .content{
    display: block;
}

header{
    margin-top: 8em;
}
.button{
    border: 1px solid #fff;
    padding: 8px;
}

.block1{
    background-image: url(images/pic01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

}
.block1 .inner_background{
/* margin: 0 auto;
max-width: 65em; */
background-color: rgba(241, 18, 18, 0.4);
padding:2em 50% 6em 2em;

}
.block1 .inner_background:hover{
   
    background-color:rgba(241, 18, 18, 0);
    transition: background-color 2s;
    
    }

.block2{
    background-image: url(images/pic02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  
}
.block2 .inner_background{
    padding:2em 50% 6em 2em;
/* margin: 0 auto;
max-width: 65em; */
background-color: rgba(138, 235, 59, 0.4);
}

.block2 .inner_background:hover{
 
    background-color:rgba(138, 235, 59, 0);
    transition: background-color 2s;
    
    }

.some_text_content{
    background-color: #233569;
    padding:2em 2em 2em 2em;
}


.text_content p{
    text-transform: none;
}

.inputs{
    background-color:#17254c;
    padding: 2em 2em 2em 2em;
  
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    padding: 1em 2em 0em 0em;
}
label{
    text-transform: uppercase;
}
input,textarea{
    background-color: #233569;;
    width: 100%;
    border: none;
}
@media (min-width: 900px) {
    main {
        display: flex;
    }
    .block1,.block2 {
        width: 100%;
    }
    .block1{
        flex: 0 0 50%;
    
    }
}